{% extends "calibration/base.html" %}

{% load staticfiles %}

{% block content %}
<h1>How anti-distortion images should look like</h1>

<img style="float: left; margin-right: 2em; margin-bottom: 2ex; padding-left: 17px"
     src="{% static "calibration/images/good_test_picture.jpg" %}"
     alt="Good anti-distortion picture"/>


<p style="padding-top: 5ex">The good one: Two horizonal lines,
one <em>very</em> close to one of the long edges, the other one 1/3 from the
top.  Note that tilting and rotating the camera is allowed, as well as changing
the distance.</p>

<hr style="clear: both; height: 10px; background-color: gray"/>

<img style="float: left; margin-right: 2em; margin-top: 1ex" src="{% static "calibration/images/no_long_line.jpg" %}"
     alt="Bad calibration picture"/>

<p style="padding-top: 5ex">A bad one: The horizonal lines are in the proper
position (at the bottom, at least), but they are not running from one edge to
the other.  I need lines covering the full width.</p>

<hr style="clear: both; height: 10px; background-color: gray"/>

<img style="float: left; margin-right: 2em; margin-top: 1ex; padding-left: 17px"
     src="{% static "calibration/images/too_far_away.jpg" %}"
     alt="Bad calibration picture"/>

<p style="padding-top: 5ex">Another bad one: All horizonal lines are too far
  away from the long edges.  Put one line insanely mind-bogglingly staggeringly
  close to the edge.</p>

<p>Now go back to the <a href="/calibration">upload page</a>.</p>
{% endblock %}
