.image { float: right; margin-left: 1em; margin-bottom: 2ex }
.image-landscape img { width: 18em; height: 12em }
.image-portrait43 img { height: 17.33em; width: 13em }
.image-portrait43 .caption { max-width: 13em }
h1, h2, h3, h4, h5, h6, hr.footer { clear: both }
