name: CMake-Linux

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Install xmllint for db test
      run: sudo apt update && sudo apt install libxml2-utils
    - name: Setup python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'
    - name: Install python build
      run: python -m pip install --upgrade pip build
    - name: Install glib-2.0
      run: sudo apt update && sudo apt install libglib2.0-dev
    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DBUILD_TESTS=ON
    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}
    - name: Test
      working-directory: ${{github.workspace}}/build
      run: ctest -C ${{env.BUILD_TYPE}} --output-on-failure
